
// BEHAVIORS STYLE

// only dark bottom shadow - navigation
.box-shadow-bottom-dark {
  box-shadow: 2px 4px 5px $color-light-black;
}

// only light bottom shadow - pet main info
.box-shadow-bottom-light {
  box-shadow: 1px 1px 3px $color-light-black;
}

//dark shadow all sides - cards
.box-shadow-all-dark {
  box-shadow: 0 12px 12px 0 $color-light-black, 0 0 12px 0 $color-light-black;
}

//light shadow all sides - cards
.box-shadow-all-light {
  box-shadow: 0 2px 2px 0 $color-light-black, 0 0 2px 0 $color-light-black;
}

// add to any element you want to remove temporarily
.display-none {
  display: none;
}

// add to any element you want to hide temporarily
.hidden {
  visibility: hidden;
}
