
// SASS INDEX PAGE FILE

body.index-page main { //always inform the class of the current page body first
  div#no-pet-main-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    height: 80vh;

    h3 {
      margin-top: 30px;
    }
  }
}
