
// SASS login page

body.login-page main {
	background-image: linear-gradient(to bottom, #009688, #64ffda), linear-gradient(202deg, #1de9b6, #f76b1c);
	margin-top:0;
	height: 100vh;
	
	a {
	display: inline-block;
	border-bottom: 1px solid black;
	color: black;
	}

	#wrapper {
	 display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
	}

	#logo {
	  width: 15vh;
	  height: auto;
	  margin-top: 30px;
	  margin-bottom:80px;
	  }
	  p{
	  text-align: center;
	  }

	  h2 {
	  color:white;
	  	font-size: 16px;
	    font-weight: 500;
	    margin-bottom: 0;
	    padding-left: 10px;
	  }

	  #loginButton {
	  	width: 65vw;
	    height: 35px;
	    background-color: #009688;
	    border: none;
	    border-radius: 3px;
	    color: white;
	    text-align: center;
	    box-shadow: none;
	    margin-top: 20px;
	  }

	  #container input {
	    border: none;
	    background: transparent;
	    border-bottom: 1px solid;
	    max-width: 400px;
	    font: 13px Roboto,arial,sans-serif;
	    padding-top: 1.2rem;
    	padding-bottom: 0.8rem;
    	width: 267px;
  		height: 61px;
    	color: white;
	  }
	  ::placeholder {
	  color: white;
	  font-weight: lighter;
	  }
}
