


//Notes SASS

body.notes-page main{
    #card1 {
  width: 100%;
  min-height: 50px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border-width: 0.5px;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
  margin-top: 10px;
    display: grid;
    grid-template-columns: 40px auto;
    padding: 5px 15px;
    align-items: center;
  }

  #card2, #card3{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 5px 15px 15px 15px;
  background-color: #FFFFFF !important;
  border-radius: 2px;

  }

  #card1 #icon-pet-photo {
    width: 50px;
    height: 50px;
    background-image: url('../img/garfield.png');
    border-radius: 100px;
    border: 1px solid lime;
    background-size: cover;
    display: block;
    background-position: center; 
  }

  #card1 #pet-intro {
    margin-left: 20px;
  }

  #card1 #pet-intro h3, #pet-main-info #pet-intro p {
    margin: 0;
    line-height: 20px;
  }


 #notes {
 font-family: Roboto;
  font-size: 20px;
  line-height: normal;
  color: #4a4a4a;
  margin-left:50px;
  padding-top:30px;
 }

 #lowerBody{
     background-color: #e0f2f1;
    height: 100vh;
 }

 #firstLower {
    background-color: #e0f2f1;
    height: 100vh;
 }

 #noteIcon{
      max-width: 100%;
    height: auto;
    margin-top: -50px;
    padding-left: 70vw;
     filter: invert(60%);
 }

input, textarea {
   color: gray;
    background-color: transparent;
    border: navy;
    margin-top:5px;
    padding-left:5px;

}

#date {
  margin-top:-15px;
  margin-left: 55vw;
}

#deleteIcon{
  padding-left: 10px;
  display: block;
}

#editIcon{
  margin-top:-15px;
  margin-left: 70vw;
  display: block;
}


.display {
  display:block;
}


.none {
  display:none;
}

#saveNote{
  .button-bg {
    width: 88px;
    height: 36px;
    border-radius: 2px;
    background-color: $color-teal;
    position: absolute;
    right: 0;
    margin: 3% 10% 3% 10%;

  }
}


}
